@model PetSitApp.ViewModels.SitterSearchViewModel


<script> 
    window.model = @Html.Raw(Json.Serialize(Model));

</script>

<div class="body-container" id="search-map-container">
    
    <div class="search-card overflow-auto" id="results-container">
        @if (Model != null)
        {
            
            foreach (var sitter in Model.Sitters)
            {
                <a class="sitter-card" asp-controller="User" asp-action="SitterCheckoutDash" asp-route-id="@sitter.Id" asp-route-petType="@Model.PetType" asp-route-serviceType="@Model.ServiceType" asp-route-startDate="@Model.StartDate" asp-route-endDate="@Model.EndDate">
                <div class="something">
                        
                        <div id="search-sitter-card">
                            @if (sitter.ProfilePicture != null)
                            {
                                var base64Image = Convert.ToBase64String(sitter.ProfilePicture);
                                var imgSrc = $"data:image/png;base64, {base64Image}";
                                <img class="profile-img" src="@imgSrc" alt="Sitter's Profile Picture" />
                            }
                            <div class="something2">
                                <h2>@sitter.FirstName @sitter.LastName</h2>

                                <p>@($"{sitter.City}, {sitter.State}, {sitter.Zip}")</p>
                            </div>
                            
                        </div>
                        <div class="something3">
                            <p style="margin-bottom: 0;">From</p>
                            <h3 style="margin-bottom: 0;">$@sitter.Service.ServiceTypes.FirstOrDefault()?.Rate</h3>
                            <p>per night</p>

                        </div>
                        
                        
                </div>

                    <p style="padding: 1rem; border-bottom: solid 1px #0000000f;">This is where the user's bio will be. This is just some placeholder text for now since idk how to do lorem ipsum</p>
                    
                </a>
            }
            
        }
        else
        {
            <p>No Results Found</p>
        }
    </div>
    <div id="map"></div>

    
</div>

<script async>
    (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
        key: "@Model.ApiKey",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
    });
</script>

<script src="/js/mapsApi.js" asp-append-version="true"></script>