@model PetSitApp.ViewModels.SitterCheckoutDashViewModel

@{
    <h1>Sitter Checkout</h1>

    <p>ID: @Model.Id</p>
    <p>Pet Type: @Model.PetType</p>
    <p>Service Type: @Model.ServiceType</p>
    <p>Start Date: @Model.StartDate</p>
    <p>End Date: @Model.EndDate</p>

}