@model PetSitApp.ViewModels.SitterSearchViewModel
<h1>Sitter Search Page</h1>

<script> 
    window.model = @Html.Raw(Json.Serialize(Model));

</script>

<script async
        src="https://maps.googleapis.com/maps/api/js?key=@Model.ApiKey&callback=initMap">
</script>
<script src="/js/mapsApi.js" asp-append-version="true"></script>
 

    
    
   
</script>

@if (Model != null)
{
    foreach (var sitter in Model.Sitters)
    {
        if (sitter.ProfilePicture != null)
        {
            var base64Image = Convert.ToBase64String(sitter.ProfilePicture);
            var imgSrc = $"data:image/png;base64, {base64Image}";
            <img src="@imgSrc" alt="Sitter's Profile Picture"/>
        }
        <p>@sitter.FirstName</p>
        <p>@sitter.LastName</p>
        <p>@($"{sitter.City}, {sitter.State}")</p>
        <!-- Display other sitter info -->
       
               
    }
}
else {
    <p>No Results Found</p>
}

<div id="map"></div>