@model PetSitApp.Models.Pet

@{
    ViewData["Title"] = "View";
}

@*<h1>View</h1>*@

<h3>Are you sure you want to delete pet?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chipped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chipped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Friendly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Friendly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdoptionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdoptionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Care)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Care)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PottyTrained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PottyTrained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnergyLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnergyLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedingSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedingSchedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeftAlone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeftAlone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetInformation)
        </dd>
    </dl>
    
    <form asp-action="DeletePet">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-controller="Owner" asp-action="OwnerDashboard">Back</a>
    </form>
</div>
