@model Owner
@{
    ViewData["Title"] = "Dashboard";
}


@if (Model == null || string.IsNullOrEmpty(Model.Name))
{
    <a asp-controller="Owner" asp-action="Create" class="btn btn-secondary" style="width:150px">
        Add Info
    </a>
}
else 
{
<h1>@(char.ToUpper(Model.Name[0]) + Model.Name.Substring(1))'s Dashboard</h1>
    
    <img src="@Url.Action("GetOwnerImage", "Owner")" alt="Your profile picture" width="200" height="200">
    
            <h1 width="50%">@Model.Name</h1>
        
            <h4 width="50%">@Model.Email</h4>
        
            <p width="50%">@Model.Age years old</p>
        
    <a asp-controller="Owner" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>

    <h1></h1>
}
<br />
    <br />
@if(Model != null && Model.Pets != null && Model.Pets.Any())
{
    @foreach(var pet in Model.Pets)
    {
        <img src="@Url.Action("GetPetImage", "Owner", new { petId = pet.Id })" alt="Pet Image" width="200" height="200"/>
        <h1>@pet.Name</h1>
        <h4>@pet.Age year old</h4>
        <p>@pet.About</p>
        <a asp-controller="Pet" asp-action="EditPet" asp-route-id="@pet.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>
        <a asp-controller="Pet" asp-action="DeletePet" asp-route-id="@pet.Id" class="btn btn-danger mx-2"><i class="bi bi-trash"></i></a>
    }
}
else
{
    <p>No pets added yet.</p>
}
<br />
<br />
<a asp-controller="Pet" asp-action="CreatePet" class="btn btn-primary mx-2">Add Pet</a>