@model PetSitApp.Models.Owner
@{
    ViewData["Title"] = "Dashboard";
}

<h1>@(char.ToUpper(Model.Name[0]) + Model.Name.Substring(1))'s Dashboard</h1>

@if (Model == null || string.IsNullOrEmpty(Model.Name))
{
    <a asp-controller="Owner" asp-action="Create" class="btn btn-secondary" style="width:150px">
        Add Info
    </a>
}
else
{
    <img src="@Model.ImageUrl" width="200" height="200">
    <table>
        <tr>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>@Model.Age years old</td>
        </tr>
    </table>
    <a asp-controller="Owner" asp-action="Edit" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>
}
