@model PetSitApp.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}



@if (Model == null || string.IsNullOrEmpty(Model.Owner.FirstName))
{
    
    <a asp-controller="Owner" asp-action="CreateOwner" class="btn btn-secondary" style="width:150px">
        Add Info
    </a>
}
else 
{
<h1>@(char.ToUpper(Model.Owner.FirstName[0]) + Model.Owner.FirstName.Substring(1))'s Dashboard</h1>
    
    <img src="@Url.Action("GetOwnerImage", "Owner")" alt="Your profile picture" width="200" height="200">
    
        <h1 width="50%">@Model.Owner.FirstName</h1>
        <h4 width="50%">@Model.Owner.LastName</h4>
        <p width="50%">@Model.Owner.Age years old</p>
        <p width="50%">@Model.Owner.Bio</p>
        
    <a asp-controller="Owner" asp-action="EditOwner" asp-route-id="@Model.Owner.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>

    <h1></h1>
}
<br />
    <br />
@if(Model != null && Model.Pets != null && Model.Pets.Any())
{
    @foreach(var pet in Model.Pets)
    {
        <img src="@Url.Action("GetPetImage", "Owner", new { petId = pet.Id })" alt="Pet Image" width="200" height="200"/>
        <h1>@pet.Name</h1>
        <h4>@pet.Age year old</h4>
        <p>@pet.About</p>
        <a asp-controller="Pet" asp-action="EditPet" asp-route-id="@pet.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>
        <a asp-controller="Pet" asp-action="DeletePet" asp-route-id="@pet.Id" class="btn btn-danger mx-2"><i class="bi bi-trash"></i></a>
    }
}
else
{
    <p>No pets added yet.</p>
}
<br />
<br />
<a asp-controller="Pet" asp-action="CreatePet" class="btn btn-primary mx-2">Add Pet</a>

@if(Model != null && Model.Reservation != null) {
   @*var pet = @Model.Pets.FirstOrDefault(p => p.Id.Equals(Model.Reservation.PetId));*@

    
    <h3>Reservations</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Pet Name</th>
                <th scope="col">Sitter</th>
                <th scope="col">Dates</th>
                <th scope="col">Service</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var reservation in Model.Reservation)
            {
                var pet = @Model.Pets.FirstOrDefault(p => p.Id.Equals(reservation.PetId));

                <tr class="table-active">
                    <th scope="row">
                        <img src="@Url.Action("GetPetImage", "Owner", new { petId = pet.Id })" alt="Pet Image" width="50" height="50" />
                    </th>
                    <td>@pet.Name</td>
                    <td>@Model.Sitter.FirstName, @Model.Sitter.LastName</td>
                    <td>@reservation.StartDate.ToString("MM/dd/yyyy") - @reservation.EndDate.ToString("MM/dd/yyyy")</td>
                    <td>@reservation.JobType</td>
                </tr>
            }
        </tbody>

    </table>

}